<!DOCTYPE html>
<html>
  <head>
    <title>Getsey</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.ico')%>
    <meta property="og:title" content="Getsey" />
    <meta property="og:image" content="<%= image_url('getsey_image.JPG')%>" />
    <script type="text/javascript">
      window.klarna = "<%= image_url('klarna.png') %>"
    </script>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
