<!DOCTYPE html>
<html>
  <head>
    <title>Getsey</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.ico')%>
    <meta property="og:title" content="Getsey" />
    <meta property="og:image" content="<%= image_url('getsey_image.JPG')%>" />
    <meta property="og:description"
       content="Getsey is a Full Stack clone of Etsy, which allows users to browse trending products, search product by name, add product to cart, and add product reviews."
     />
     <meta property="og:url"
       content="http://leagsy.herokuapp.com/"
     />
     <meta property="og:type" content="Web App">
     <meta name="author" content="Priyesh Shah">
    <script type="text/javascript">
      window.klarna = "<%= image_url('klarna.png') %>"
    </script>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
